In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Connect to the SQLite database
conn = sqlite3.connect("sales_data.db")

# SQL query to summarize sales
query = """
SELECT 
    product, 
    SUM(quantity) AS total_qty, 
    SUM(quantity * price) AS revenue
FROM sales
GROUP BY product
"""

# Load into pandas dataframe
df = pd.read_sql_query(query, conn)

# Print results
print("Sales Summary:\n")
print(df)

Sales Summary:

    product  total_qty   revenue
0  Keyboard         10   15000.0
1    Laptop          8  480000.0
2   Monitor          6   72000.0
3     Mouse         20   10000.0